# 忽略如下文件
.vscode/
bindings/
build-support/
cmake-cache/
contrib/
doc/
build/
examples/
utils/
src/
.*
*.md
*.txt
*.py
AUTHORS
LICENSE
VERSION
ns3
testpy.supp

# 不忽略如下文件
!src/applications/helper/network-helper.cc
!src/applications/helper/network-helper.h
!src/applications/model/pbft-node.cc
!src/applications/model/pbft-node.h
!src/applications/CMakelists.txt